.root {
  display: flex;
  width: 100%;
  height: 8px;
  background: #f6f7f9;
  border-radius: 8px;
  margin: 0;
  overflow: hidden;
  box-sizing: border-box;
  .prorgress {
    width: 100%;
    height: 100%;
    &.green {
      background: linear-gradient(270deg, #64d368 0.15%, #64d368 70.88%);
    }
    &.yellow {
      background: linear-gradient(180deg, #f5db13 0%, #f2b807 100%);
    }
  }
}
