.root {
  width: 100%;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  background: linear-gradient(180deg, #ffffff 30.32%, #f5f5f5 100%);
  z-index: inherit;
  h4 {
    text-align: center;
    margin-bottom: 20px;
  }
}

.strongWord {
  font-weight: 700;
}

.cardBlock {
  display: grid;
  grid-gap: 40px 25px;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));

  padding: 0;
  margin: 0;
  list-style-type: none;
}

.cardWrapper {
  list-style-type: none;
}

@media (min-width: 768px) {
  .cardBlock {
    grid-template-columns: repeat(auto-fit, minmax(351px, 1fr));
  }
}

@media (min-width: 1280px) {
  .root {
    padding: 25px calc((100vw - 1200px) / 2);
  }
}
